html{
      height: 100%;
      font-size: 14px;
}

body{
      position: relative;
      top: 28%;
      background-color: hsl(229, 57%, 11%);
      background-image: url("images/bg-desktop.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      color: white;
      font-family: 'Raleway', sans-serif;
}

.wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
}


/* LOGO BOX */


.wrapper .logobox{
      width: 330px;
      height: 175px;
      border-radius: 8px 100px 8px 8px;
      background-color: hsl(228, 56%, 26%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
}

.wrapper .logobox .files{
      display: flex;     
      margin-top: 25px; 
}

.wrapper .logobox .files .cover{
      padding: 10px;
      background-color: hsl(229, 57%, 11%);
      margin-right: 15px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
}


.wrapper .logobox .files .cover:hover{                      
      transform: translateY(-0.3rem);
      background-color: #000058;
      cursor: pointer;
}

.logo, .files{
      margin-left: 30px;
}

/* MSG BOX */
.wrapper .posRel{
      position: relative;
}

.wrapper .posRel .msgbox{
      position: absolute;
      bottom: 77px;
      left: 58px;
      width: 150px;
      height: 60px;
      border-radius: 0.6em;
      background-color: white;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: 700;
      
} 

.wrapper .posRel .msgbox #msgboxNum{
      font-weight: 700;
      color: black;
      font-size: 2rem;
      margin-right: 0.2em;
}

.wrapper .posRel .downarrow{
      position: absolute;
      bottom: 59px;
      left: 178px;
      width: 0;
      height: 0;
      border-top: 30px solid white;
      border-left: 30px solid transparent;
}

/* STATUS BOX */

.wrapper .statusbox{
      width: 500px;
      background-color:  hsl(228, 56%, 26%);
      height: 128px;
      margin-left: 20px;
      position: relative;
      top: 22px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
}

.statusbox .statusWrapper{
      width: 86%;
}

.statusWrapper .bar{
      height: 22.5%;
      background-color:  hsl(229, 57%, 11%);
      border-radius: 50px;
      margin: 2.75% 0;
}

.statusWrapper .bar .usedStorage{
      background: linear-gradient(to left, hsl(335, 100%, 65%), hsl(6, 100%, 80%) );
      height: 12px;
      width: 75.58%; 
      border-radius: 50px;
      border: 2px solid hsl(229, 57%, 11%);
}

.usedStorage .circle{
      background-color: white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: relative;
      top: 0.7px;
      float: right;
      margin-right: 1.5px;
}

.statusWrapper .meter{
      display: flex;
      justify-content: space-between;
      font-weight: 700;
}

/* MEDIA QUERY */
@media screen and (max-width: 834px){
      .wrapper{
            flex-direction: column;
      }

      .wrapper .statusbox{
            width: 330px;
            text-align: center;
            margin-bottom: 50px;
      }

      .wrapper .statusbox .posRel .msgbox{
            top: 5px;
            left: -80px;
      }

      .wrapper .posRel .downarrow{
            display: none;
      }
}

@media and screen (max-width: 375px){
      body{
            background-image: url("images/bg-mobile.png");
      }
}

.attribution {
      margin-top: 30px;
      font-size: 11px;
      text-align: center;
}
.attribution a {
      color:hsl(335, 100%, 65%); 
}